body {
  margin: 0;
  padding: 0;
  color: #eee;
  background-color: #424242;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #eee;
  text-decoration: none;
}

header {
  background-color: #212121;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
}

header nav a {
  margin: 0 1em;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 0.5em 0.2em;
  width: auto;
  transition: all 0.2s;
  font-size: 1.3rem;
  color: #eee;
}

input:active,
input:focus {
  outline: none;

  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
}

input:active::placeholder,
input:focus::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

main {
  padding: 2em 0;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  width: 80%;
  margin: 0 1em;
}

button {
  padding: 0.2em 1em;
  border: 0;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

.card {
  max-width: 300px;
  max-height: 380px;
  border-radius: 4px;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  opacity: 0.8;
}

.card .img-wrapper {
  width: auto;
}

.card img {
  width: 100%;
  height: 200px;
}

.card .info-wrapper {
  padding: 1em;
}
.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1em;
  justify-content: center;
}
.genres {
  width: 100%;
}
.genres h2,
.search h2 {
  text-align: center;
}

.game-content .image-container {
  width: 95vw;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1em 0;
}

.image-container div {
  margin: auto;
  width: 90%;
}

.image-container img {
  margin: auto;
  text-align: center;
  width: 100%;
}

.details {
  width: 80%;
  margin: auto;
}

.flex-row {
  display: flex;
}
.space {
  justify-content: space-between;
}
